
 * {
 margin:0;
 padding:0;
 font-family: Myriad Pro;
}

.sub-banner{
  background-image: url(../images/sub-banner.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  opacity: 1;
  text-align: center;
}
.over-lay{
  background-color: rgb(37, 37, 41);
  opacity: 0.70;
  padding: 75px 0;
  height: 300px;
}
.banner{
  padding-top: 10px;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
}
.breadcrumb{
  background: none;
  padding-top: 30px;
  font-size: 20px;
}
.breadcrumb a{
  color:white;
  
}
.breadcrumb > li + li::before{
  content: "\003e";
}
.top{
  margin: 50px 0;
}
.send{
  margin-top: 15px;
  padding:15px;
  background-color: #ffb400;
  color:white;
  border:none;
  border-radius: 5px;
  font-weight: 600;
  
}
.address{
  margin-bottom: 10px;
}
.address i{
  width: 55px;
  font-size: 24px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  text-align: center;
  color: #ffb400;
  border: 1px dashed #ffb400;
}
.address-left{
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}
.address-right{
  display: table-cell;
  vertical-align: top;
}
.address a{
  text-decoration: none;
  color: #5a5959;
}
.footer{
  background: #111;
  font-family: lato;
  font-size: 15px;
  color:grey;
}
.title{
  padding: 30px 0px;
  color: #c5c5c5;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: solid 1px #3a3a3a;
  padding-bottom: 20px;
  font-size: 16px;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.personal-info{
  list-style: none;
}
.personal-info li{
  padding: 10px 0px;
}
.personal-info i{
  font-size: 18px;
  color: grey;
  margin-right: 20px;
  float: left;
  width: 20px;
}
.footer a{
  color: grey;
}
.links li{
  list-style: none;
  font-size: 15px;
  padding-bottom: 15px; 
  letter-spacing: 0.5px;
}
.tags a{
  float: left;
  margin: 0 7px 7px 0;
  border: 1px solid #353535;
  padding: 6px 15px;
  font-size: 11px;
  letter-spacing: 1px;
  color: grey;
  border-radius: 2px;
  text-decoration: none;
}


/*  */


.navbarheader{
  height: 72px;
}

.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3);
}
.navbar-fixed-top{
  border:none;
}
.navbar-brand  img{
  margin-top:-10px;
}
ul.nav.navbar-nav.navbar-right{
  margin-top: 0px;
}
.navbar-default .navbar-nav > li > a{
  color:white;
  border-bottom: none;
  background: black;
}
.navbar-default .navbar-nav > li > a:hover{
  color: black;
  background: white;
}
@media (min-width: 768px){
  .navbar-default .navbar-nav > li > a{
    font-size: 14px;
    padding: 25px 6px;
    color:white;
    font-weight: 500;
  }
  ul.nav.navbar-nav.navbar-right{
  margin-top: 0px;
  }
  .navbar-default .navbar-nav > li > a{
    color:white;
    border:none;
    background: none;
    height: 75px;
  }
  .navbar-default .navbar-nav > li > a:hover{
    color: black;
    background-color:rgba(119,136,153,0.3);
  } 
}
/* drop */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: none;
}

.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav > li:last-child > a {
  padding-right: 0px;
  margin-right: 0px;
}
.dropdown-menu {
  padding: 0px 0; 
  margin: 0 0 0; 
  border: 0px solid transition !important;
  border: 0px solid rgba(0,0,0,.15);  
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

}
/*=-====Main Menu=====*/

.navbar-default .navbar-toggle { 
  border-color: #fff; 
  margin-top: 18px;
} /*Toggle Button*/

.navbar-default .navbar-toggle .icon-bar { 
  background-color: #fff 
} /*Toggle Button*/

/*==========Sub Menu=v==========*/
.navbar-default .collapse ul > li:hover > a{
  color: #ffb400
}

.navbar-default .collapse ul ul > li:hover > a, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  border-left:4px solid #ffb400;
  background: white;
}

.navbar-default .collapse ul ul ul > li:hover > a{
  border-left:4px solid #ffb400; 
  background-color: white;
}

.navbar-default .collapse ul ul,
.navbar-default .collapse ul ul.dropdown-menu{
  background:#e7e7e7;
}

.navbar-default .collapse ul ul ul, 
.navbar-default .collapse ul ul ul.dropdown-menu{
  background:#e7e7e7
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{
  background: background-color:rgba(119,136,153,0.3);
  border: 0 solid;
  margin: 0;
  padding: 0;
  min-height:20px
}

@media only screen and (min-width: 767px) {
.navbar-default .collapse ul li{
  position:relative;
}

.navbar-default .collapse ul li:hover> ul{
  display:block
}

.navbar-default .collapse ul ul{
  position:absolute;
  top:100%;
  left:0;
  min-width:180px;
  display:none
}

/*******/
.navbar-default .collapse ul ul li{
  position:relative
}

.navbar-default .collapse ul ul li:hover> ul{
  display:block
}

.navbar-default .collapse ul ul ul{
  position:absolute;
  top:0;
  left:100%;
  min-width:180px
  ;display:none
}

/*******/
.navbar-default .collapse ul ul ul li{
  position:relative
}
}
.dropdown-menu li a{
  padding:  8px 20px;
}
/* end drop */