
 * {
 margin:0;
 padding:0;
}
.foot li{
  list-style: none;
  float:left;
  margin-right:15px;
  padding-top:15px;
  padding-bottom: 15px;
}

 .anhslide{
  width: 100%;
 }
.sea{
  padding-top:18px;
  padding-left:500px;
}
.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3)
}
.carousel-caption .btn{
  color:white;
  background-color:#ffb400;
  margin-right:15px;
  
}
.navbar-brand > img{
  height:75px;
  margin-top:-10px;
}
.navbar-nav > li{
  font-size: 15px;
  padding-top:15px;
  margin-right:25px;
}
.navbar-fixed-top{
  border:none;
}
.thumbnail{
  border:none;
}

/*CSS cua Quan*/

.navbar-default .navbar-nav > li > a{
  color: white;
  font-weight: 600;
}
@media(max-width:985px){
  .navbar-toggle{
    display: block;
    float:right;
  }
  ul.nav {
    display: none;
  }
  .navbar-header{
    width: 100%;
  }
}
.sub-banner{
  background-image: url(../images/sub-banner.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  opacity: 1;
  text-align: center;
}
.overlay{
  background-color: rgb(37, 37, 41);
  opacity: 0.70;
  padding: 75px 0;
}
.overlay h1{
  color:white;
  padding: 15px 0;
  text-transform: uppercase;
  
}
.breadcrumb{
  background: none;
  padding-top: 30px;
  font-size: 20px;
}
.breadcrumb a{
  color:white;
  
}
.breadcrumb > li + li::before{
  content: "\003e";
}
.reset{
  display:table;
  border: none;
  padding: 0px 10px; 
  margin-top: 10px;
  border-radius: 10px;
  background-color: #58595b;
  color: white;
  text-transform: uppercase;
  margin-bottom:15px;
}
.reset i{
  padding: 0 10px;
}
.content-filter{
  list-style: none;
  display: table;
  background-color:#f8f8f8;
}
.collumn-filter{
  border-top:1px solid #e5e5e5e5;
  border-left:1px solid #e5e5e5e5;
  border-bottom:1px solid #e5e5e5e5;
  display: table-cell;
}
.collumn-filter:last-child{
  border-right:1px solid #e5e5e5e5;
}
.checkbox li{
  padding:10px 20px 10px 20px;
}
.brand{
  margin-bottom: 15px;
}
.checkbox{
  display: table;
  list-style: none;
  padding: 15px ;
}
.checkbox p{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: black;
  padding-left:15px;
}
.footer{
  background: black;
  font-family: lato;
  font-size: 15px;
  color:grey;
}
.title{
  padding:25px 0px ;
  border-bottom: 1px solid grey;
  color:lightgrey;
  margin-bottom: 25px;
}
.personal-info{
  list-style: none;
}
.personal-info li{
  padding: 10px 0px;
}
.personal-info i{
  font-size: 18px;
  color: grey;
  margin-right: 20px;
  float: left;
  width: 20px;
}
.footer a{
  color: grey;
}
.links li{
  list-style: none;
  font-size: 15px;
  padding-bottom: 15px; 
  letter-spacing: 0.5px;
}
.tags a{
  float: left;
  margin: 0 7px 7px 0;
  border: 1px solid #353535;
  padding: 6px 15px;
  font-size: 11px;
  letter-spacing: 1px;
  color: grey;
  border-radius: 2px;
  text-decoration: none;
}