
 * {
 margin:0;
 padding:0;
}
.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3);
}
.navbar-fixed-top{
  border:none;
}
.navbar-brand > img{
  margin-top:-10px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 14px;
  padding:25px 6px;
  color:white;
  font-weight: 600;
  
}