
 * {
 margin:0;
 padding:0;
}
.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3);
}
.navbar-fixed-top{
  border:none;
}
.navbar-brand > img{
  margin-top:-10px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 14px;
  padding:25px 6px;
  color:white;
  font-weight: 600;
  
}
.sub-banner{
  background-image: url(../images/sub-banner.jpg);
  height:392px;
}
.over-lay{
    background-color: rgb(37, 37, 41);
    opacity: 0.70;
    padding: 48px 0;
}
.banner{
  padding-top: 150px;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
}
.breadcrumb{
  background: none;
  padding-top: 30px;
}
.breadcrumb a{
  color:white;
  
}
.breadcrumb > li + li::before{
  content: "\003e";
}
