
 * {
 margin:0;
 padding:0;
 font-family: Myriad Pro;
}
.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3)
}
.navbar-brand > img{
  height:75px;
  margin-top:-10px;
}
.navbar-nav > li{
  font-size: 15px;
  padding-top:15px;
  margin-right:25px;
}
.navbar-fixed-top{
  border:none;
}
.navbar-default .navbar-nav > li > a{
  color: white;
  font-weight: 600;
}
@media(max-width:985px){
  .navbar-toggle{
    display: block;
    float:right;
  }
  ul.nav {
    display: none;
  }
  .navbar-header{
    width: 100%;
  }
}
.sub-banner{
  background-image: url(../images/sub-banner.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  opacity: 1;
  text-align: center;
}
.overlay{
  background-color: rgb(37, 37, 41);
  opacity: 0.70;
  padding: 75px 0;
  height: 300px;
}
.overlay h1{
  color:white;
  padding: 15px 0;
  text-transform: uppercase;
  
}
.breadcrumb{
  background: none;
  padding-top: 30px;
  font-size: 20px;
}
.breadcrumb a{
  color:white;
  
}
.breadcrumb > li + li::before{
  content: "\003e";
}
.content-top h1{
  padding-top:30px;
}
.aphabet{
  list-style: none;
  display: inline-block;
}
.aphabet a{
  text-transform: uppercase;
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin-bottom: 50px;
  margin-top:50px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  color: #37404d;
}
.aphabet a:hover{
  text-decoration: none;
  background-color: orange;
}
.search{
  width: 300px;
  height:30px;
  padding-left:10px;
  margin-bottom:50px;
  border:none;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  position: relative;
} 
/* css content bot */
.brand-box {
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  color: #505050;
}

.brand-box:hover {
  box-shadow: none;
  background: #eee;
  color: #505050;
}

.brand-box:hover {
  text-decoration: none;
}

.brand-box img {
  height: 50px;
}

.brand-box h5 {
  margin: 25px 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #ffb400;
}

.brand-box h6 {
  font-weight: 400;
  margin: 0;
  font-size: 13px;
}
/* end css content bot */
.footer{
  background: black;
  font-family: lato;
  font-size: 15px;
  color:grey;
}
.title{
  padding: 30px 0px;
  color: #c5c5c5;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: solid 1px #3a3a3a;
  padding-bottom: 20px;
  font-size: 16px;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.personal-info{
  list-style: none;
}
.personal-info li{
  padding: 10px 0px;
}
.personal-info i{
  font-size: 18px;
  color: grey;
  margin-right: 20px;
  float: left;
  width: 20px;
}
.footer a{
  color: grey;
}
.links li{
  list-style: none;
  font-size: 15px;
  padding-bottom: 15px; 
  letter-spacing: 0.5px;
}
.tags a{
  float: left;
  margin: 0 7px 7px 0;
  border: 1px solid #353535;
  padding: 6px 15px;
  font-size: 11px;
  letter-spacing: 1px;
  color: grey;
  border-radius: 2px;
  text-decoration: none;
}