
 * {
 margin:0;
 padding:0;
}
body
.navbar-default{
  margin-bottom: 0px;
  height: 75px;
  background-color:rgba(119,136,153,0.3);
}
.navbar-fixed-top{
  border:none;
}
.navbar-brand > img{
  margin-top:-10px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 14px;
  padding:25px 6px;
  color:white;
  font-weight: 600;
  
}
.sub-banner{
  background-image: url(../images/sub-banner.jpg);
 background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  opacity: 1;
  text-align: center;
}
.over-lay{
    background-color: rgb(37, 37, 41);
    opacity: 0.70;
    padding: 75px 0;
}
.banner{
  padding-top: 150px;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
}
.breadcrumb{
  background: none;
  padding-top: 30px;
}
.breadcrumb a{
  color:white;
  
}
.breadcrumb > li + li::before{
  content: "\003e";
}
.top{
  margin: 50px 0;
}
.send{
  margin-top: 15px;
}
.address{
  margin-bottom: 10px;
}
.address i{
  width: 55px;
  font-size: 24px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  text-align: center;
  color: #333;
  border: 1px dashed #333;
}
.address-left{
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}
.address-right{
  display: table-cell;
  vertical-align: top;
}
.address a{
  text-decoration: none;
  color: #5a5959;
}
.footer{
  background: black;
  font-family: lato;
  font-size: 15px;
  color:grey;
}
.title{
  padding:25px 0px ;
  border-bottom: 1px solid grey;
  color:lightgrey;
  margin-bottom: 25px;
}
.personal-info{
  list-style: none;
}
.personal-info li{
  padding: 10px 0px;
}
.personal-info i{
  font-size: 18px;
  color: grey;
  margin-right: 20px;
  float: left;
  width: 20px;
}
.footer a{
  color: grey;
}
.links li{
  list-style: none;
  font-size: 15px;
  padding-bottom: 15px; 
  letter-spacing: 0.5px;
}
.tags a{
  float: left;
  margin: 0 7px 7px 0;
  border: 1px solid #353535;
  padding: 6px 15px;
  font-size: 11px;
  letter-spacing: 1px;
  color: grey;
  border-radius: 2px;
  text-decoration: none;
}
